<style>
  .player-search-bar {padding: 1cm 1cm 1cm 1cm;}
</style>
<div class="player-search-bar" align="center">
  <%= form_tag players_path, class: "form-inline", method: :get do %>
    <%= text_field_tag :query, params[:query], class: "form-control" %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
    <% if params[:query].present? %>
        <%= link_to "clear", players_path %>
    <% end %>
  <% end %>
</div><br><br>

<div class="centeredHomePage" align="center">
  <% @players.first(10).each do |player| %>
    <%=  player.name %><br>
      <% if player.esbid != nil && player.name != nil %>
          <%= image_tag('http://static.nfl.com/static/content/public/static/img/fantasy/transparent/200x200/'+player.esbid+'.png') %><br>
          External Player Page: <%= link_to('NFL Profile Page', 'http://www.nfl.com/player/'+player.name.delete(' ')+'/'+player.player_id.to_s+'/profile') %><br>
          WDD Player Page: <%= link_to(player.name, player_path(player.id))%><br><br>
      <% end %>
      <br>
  <% end %>
</div>